* {

	margin: 0;
	padding: 0;
}

body {

	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

li {

	list-style: none;
	display: inline-block;
}

a {

	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active {

	text-decoration: none;
}

h1, 
h2, 
h4 {

	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

p {

	font-size: 15px;
	line-height: 21px;
}

.btn {

	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.btn:hover {

	background-color: #3DFC79 !important;
	color: #3c3c3c !important;
	border: 1px solid #fff !important;
}

/*----NAVIGATION----*/

.navbar {

	background-color: #2E1A15 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

.navbar a {

	color: #3DFC79 !important;
	opacity: 0.7;
}

.navbar a:hover {

	opacity: 1;
	background-color: #211109 !important;
}

.header {

	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 50px;
	background-image: url(../images/985469598ce1723e42580f545517c67e.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.header img {

	height: 350px;
	width: 450px;
	margin: 70px 0 0 40px;
}

.header h1 {

	font-size: 40px;
	font-weight: 700;
	padding-top: 30px;
}

.header h1,
.header p,
.header button {

	margin-top: 20px;
}

.header .btn {

	margin: 40px 20px;
}

@media(max-width:768px) {

	.header {

		padding: 30px;
		height: 750px;
	}

	.header img {

		width: 90%;
		height: 300px;
		margin: 20px 0 0 20px;
	}

	.header .btn {

		font-size: 10px;
		margin-left: 20px;
	}

	.header h1 {

		font-size: 20px;
	}

	.header p {

		font-size: 10px;
	}
}

/*SERVICES*/

.services {

	padding: 80px 0 80px;
	text-align: center;
}

.services h2,
.services h4 {

	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services p {

	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}

.services i {

	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #795548;
	color: #00BCD4;
}

@media(max-width: 768px) {

	.services {

		padding: 20px;
	}
}


/*GALLERY*/

.gallery {

	text-align: center;
	background-color: #d2a679;
}

.page {

	display: flex;
	width: 100vw;
	height: 100vh;
}

.gallery h2 {

	color: #4c4c4c;
	margin-top: 80px;
}

.gallery p {

	margin-bottom: 70px;
}

.main_container {

	width: 1200px;
	display: block;
	margin-right: 70px;
	margin-bottom: 100px;
	height: 300px;
	background-color: red;
	align-self: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 5px black;
	border-radius: 10px;
}

.long_container {

	height: 100%;
}

.item {

	height: 100%;
	width: 400px;
	float: left;
}

.see_previous,
.see_next {

	height: 100%;
	width: 50px;
	position: absolute;
	left: 0px;
	display: flex;
	transition: all 0.2s ease-in-out;
}

.see_next {

	right: 0;
	left: auto;
}

.arrow_next {

	transform: rotate(180deg);
}

.arrow_previous,
.arrow_next {
	width: 100%;
	align-self: center;
}

.see_previous:hover,
.see_next:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#one {
	background-image: url("../images/img_1.jpg");
}

#two {
	background-image: url("../images/img_2.jpg");
}

#three {
	background-image: url("../images/img_3.jpg");
}

#four {
	background-image: url("../images/img_4.jpg");
}

#five {
	background-image: url("../images/img_5.jpg");
}

#six {
	background-image: url("../images/img_6.jpg");
}

#seven {
	background-image: url("../images/img_7.jpg");
}

#eight {
	background-image: url("../images/img_8.jpg");
}

#nine {
	background-image: url("../images/img_9.jpg");
}


/*PRICING*/

.pricing {

	padding: 50px 0 80px;
	text-align: center;
	background-color: #51E0A0;
}

.pricing h2,
.pricing p {

	color: #fff;
}

.pricing p {

	padding-bottom: 40px;
}

.pricing .packages {

	padding: 30px;
	border: 1px solid #ccc;
	/*background-color:  #ff5500;*/
	border-radius: 5px;
	margin-top: 30px;
}

.pricing .bronze {

	background-color: #e67e22;
}

.pricing .silver {

	background-color: #bdc3c7;
}

.pricing .gold {

	background-color: #f1c40f;
}

.pricing .premium {

	background-color: #c0392b;
}

.packages li {

	display: block;
	padding: 5px;
}

.packages h4,
.packages h1,
.packages b {

	color: #4c4c4c;
}

.packages button {

	margin-top: 10px;
}

@media(max-width: 768px) {

	.pricing {

		padding: 30px;
	}

	.packages {

		width: 80%;
		margin-left: 25px;
	}

.main_container {

		width: 100%;
	}

}




/*TEAM*/

.team {

	padding: 50px 0 80px;
	text-align: center;
}

.team b,
.team h2,
.team h4 {

	margin: 20px 0 20px;
	color: #4c4c4c;
}

.team p {

	color: #737373;
}

.team img {

	height: 150px;
	width: 155px;
	margin-top: 80px;
}

.team i {

	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 50%;
	background-color: #bf8040;
	color: #800080;
}

.team a:hover i {

	background-color: #33cc33;
}

/*CLIENTS*/

.clients {

	padding: 50px 0 80px;
	background-color: #99cc00;
	text-align: center;
	color: #fff;
}

.clients h2 {

	color: #5e5e5e;
}

.clients p {

	padding-bottom: 40px;
}

.clients img {

	width: 200px;
	opacity: 0.6;
	cursor: pointer;
	margin: 40px 0;
	transition: all 500ms ease-in-out;
}

.clients li:hover img {

	opacity: 1;
}

/*CONTACT*/

.contact {

	padding: 50px 0 80px;
	text-align: center;
}

.contact p {

	padding-bottom: 80px;
	color: #737373;
}

.contact h2 {

	color: #4c4c4c;
	margin: 20px 0 20px;
}

.contact i {

	color: #795548;
}

.contact .input-group {

	margin-bottom: 25px;
}

.contact .form-control {

	border-color: #27ae60;
}

.contact span {

	border-color: #27ae60;
}

.input-group-lg>.icon {
	height: 30px !important;
}


.contact .btn {

	width: 100%;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
} 

.contact .btn:hover {

	color: #fff !important;
}

/*FOOTER*/

.footer {

	padding: 30px;
	color: #3DFC79;
	background-color: #2E1A15;
}

.footer .social {

	font-size: 20px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
	border: 1px solid #3DFC79;
	margin-bottom: 10px;
	margin-right: 5px;
}

.footer input {

	height: 40px;
	width: 160px;
	padding: 5px;
	border: none;
	background-color:  #ffff99;
	color: #000000;
}

.footer .btn {
	
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px;
}